body{
    background-color: #272821;
}

.text{
    color: #706C5A;
    font-family: Inconsolata, Courier, monospace;
}

h1{
    height: 25%;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: large;
    padding-top: 10%;
    padding-left: 20px;
}

.btn{
    background-color: #706C5A; 
    font-family: Inconsolata, Courier, monospace;
    border: none;
    margin-top: 120%;
    padding: 15px 40px;
    margin-left: 20px;
}

.btn:hover{
    background-color: #8b792b;
}

.btn:active{
    background-color: #b89c1f !important;
}

#instructions {
    font-size: small;
    padding-left: 20px;
}